
body {
	font-size: 12px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	line-height: 1.2;
}
/* Default Button  */
.default-button {
    border: 0;
    padding: 0;
    text-transform: uppercase;
    cursor: pointer;
    height: 30px;
    width: 65px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    color: #ffffff;
    background-color: #0099ff;
    border-radius: 5px;
}
/* End  */
button:active,
button:focus {
	outline: none;
}

.nav-user .nav-link {
	padding: 0;
	color: #9f9f9f;
}

.nav-user .nav-link:hover {
	color: #ffffff;
}

.round-style {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
	color: #ffffff;
	background-color: #787878;
	border-radius: 50%;
}

.nav-socials__item:not(:last-child) {
	margin-right: 10px;
}

.nav-socials__link:hover {
	color: #ffffff;
	background-color: #db4a39;
}

.header__inner {
	position: relative;
	padding: 14px 20px;
	background-color: #2e2e2e;
}

.header {
	position: relative;
}
.header-toggler {
	position: absolute;
	top: 100%;
	right: 20px;
	width: 31px;
	height: 31px;
	padding: 0;
	color: #ffffff;
	background-color: #2e2e2e;
	border-radius: unset;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	outline: none;
	content: '';
}

.header-toggler-icon {
	position: relative;
	display: inline-block;
	width: 11px;
	border-top: 1px solid #fff;
}

.nav-user .nav-item:not(:first-child) .nav-link {
	padding-left: 5px;
}

.nav-user .nav-item:not(:last-child) .nav-link {
	padding-right: 6px;
	border-right: 1px solid #9f9f9f;
}

.header-toggler.collapsed .header-toggler-icon::before {
	position: absolute;
	top: -6px;
	right: 5px;
	display: inline-block;
	height: 11px;
	border-left: 1px solid #fff;
	content: '';
}
/* MENU  */
.nav {
    height: 76px;
    border-bottom: 5px solid #f1f1f1;
}
.menu {
    display: flex;
    font-size: 14px;
    padding: 0;
    padding-right: 50px;
    align-self: flex-end;
    text-transform: uppercase; 
    list-style: none;
}
.menu .menu_item {
    margin-right: 20px;
}

.menu_item a {
    text-decoration: none;
    color: #2e2e2e;
    padding-bottom: 17px;
}
.menu_item a:active,
.menu_item a:focus{
    color: #9f9f9f
}
/*  END OF MENU  */

/* TITLE */
.first-title {
	margin: 44px auto 10px auto;
    width: 72%;
    font-family: Georgia;
    font-size: 36px;
    line-height: 43px;
    font-weight: 400;
    color: #333333;
}
.first-title-small {
    font-family: Georgia;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    color: #999999;
}
/* search menu */
.search {
    width: 28%;
}
.form-wraper {
    width: 300px;
    padding: 10px;
    margin: 50px auto 50px auto;
    background: lightblue;
    border-radius: 10px;
}
.form-wraper input {
    width: 210px;
    height: 30px;
    padding: 10px 5px;
    border: 0px;
    border-radius: 3px 0 0 3px;
    font-family: Georgia;
    font-size: 12px;
    line-height: 14px;
    background-color: #f1f1f1;
}
/*  END OF TITLE  */

/* FIRST SECTION */
.first-section {
    height: 450px;
    background-color: #f1f1f1;
    border-top: 5px solid #e9e9e9;
    border-bottom: 5px solid #e9e9e9;
}
.section-left {
    min-width: 430px;
}
.section-left_content {
    min-width: 350px;
    max-width: 350px;
    margin-left: 20px;
}
.content-title {
    color: #333333;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 18px;
}
.content-text {
    color: #666666;
    font-size: 16px;
    line-height: 22.4px;
    margin-bottom: 18px;
}
.content-button {
    width: 126px;
    height: 30px;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
}


































